<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar hideBackButton>
    <ion-title>Login Lanche Fácil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item style="text-align: center;">
      Logar
    </ion-item>

    <form [formGroup]="loginForm" (ngSubmit)="Logar(loginForm.value);">

      <ion-item>
        <ion-label color="primary">Email:</ion-label>
        <ion-input type="email" placeholder="Digite seu Email" formControlName="loginEmail"  name="loginEmail" ></ion-input>
      </ion-item>
      <ion-item *ngIf="loginForm.controls.loginEmail.hasError('email') && loginForm.controls.loginEmail.touched">
        <p style="color: red;">Campo de email Inválido</p>
      </ion-item>

      <ion-item>
        <ion-label color="primary">Senha:</ion-label>
        <ion-input type="password" placeholder="Digite sua Senha" formControlName="loginSenha"  name="loginSenha"></ion-input>
      </ion-item>
      <ion-item *ngIf="(loginForm.controls.loginSenha.hasError('minlength') || loginForm.controls.loginSenha.hasError('required') ) && loginForm.controls.loginSenha.touched">
        <p style="color: red;">Senha Curta</p>
      </ion-item>

      <ion-item>
        <button ion-button full round default type="submit" [disabled]="!loginForm.valid">Login</button>
      </ion-item>

    </form>


    <ion-item style="text-align: center;">
      Cadastre-se
    </ion-item>


    <form [formGroup]="cadForm" (ngSubmit)="Cadastrar(cadForm.value);">

      <ion-item>
          <ion-label color="primary">Nome:</ion-label>
          <ion-input type="name" placeholder="Digite seu Nome" formControlName="cadNome"  name="cadNome"></ion-input>
      </ion-item>
      <ion-item *ngIf="(cadForm.controls.cadNome.hasError('minlength') || cadForm.controls.cadNome.hasError('required')) && cadForm.controls.cadNome.touched">
        <p style="color: red;">Nome Curto</p>
      </ion-item>


      <ion-item>
        <ion-label color="primary">Email:</ion-label>
        <ion-input type="email" placeholder="Digite seu Email" formControlName="cadEmail"  name="cadEmail"></ion-input>
      </ion-item>
      <ion-item *ngIf="cadForm.controls.cadEmail.hasError('email') && cadForm.controls.cadEmail.touched">
        <p style="color: red;">Campo de email Inválido</p>
      </ion-item>


      <ion-item>
        <ion-label color="primary">Senha:</ion-label>
        <ion-input type="password" placeholder="Digite sua Senha" formControlName="cadSenha" name="cadSenha"></ion-input>
      </ion-item>
      <ion-item *ngIf="(cadForm.controls.cadSenha.hasError('minlength') || cadForm.controls.cadSenha.hasError('required')) && cadForm.controls.cadNome.touched">
        <p style="color: red;">Senha Curta</p>
      </ion-item>


      <ion-item>
        <button ion-button full round default color="secondary" type="submit" [disabled]="!cadForm.valid">Cadastrar</button>
      </ion-item>

    </form>

  </ion-list>
</ion-content>
